// ================== kibotron section ==================//
.kibotron
    padding-top: 150px

    @media screen and ( max-width: 1400px )
        padding-top: 0

    &__body
        position: relative

        @media screen and ( max-width: 1400px )
            padding-top: 350px

    &__graphic
        position: absolute
        top: -40%
        left: -25%
        z-index: -1

        @media screen and ( max-width: 1400px )
            top: -30%
            left: 50%
            transform: translateX(-50%)

        @media screen and ( max-width: 770px )
            top: -30%

    &__graphic-letter
        display: block
        font-size: 100px
        font-weight: 700

    &__small-ball, &__small-ball-shadow
        animation: kibotron__small-ball 3s linear infinite
        @include orbit_anim(kibotron__small-ball, 102px)

    &__middle-ball, &__middle-ball-shadow
        animation: kibotron__middle-ball 10s linear infinite
        @include orbit_anim(kibotron__middle-ball, 472px)

    &__big-ball, &__big-ball-shadow
        animation: kibotron__big-ball 6s linear infinite
        @include orbit_anim(kibotron__big-ball, 213px)

    &__title
        display: flex
        align-items: center
        justify-content: end
        margin-right: 380px

        @media screen and ( max-width: 1400px )
            justify-content: center
            margin-right: 0

    &__title-text
        margin-left: 22px
        font-size: 48px
        font-weight: 800
        line-height: 59px
        color: $white

    &__title-logo
        display: flex
        flex-shrink: 0

        @media screen and ( max-width: 350px )
            display: none

    &__cards
        display: flex
        justify-content: end
        position: relative
        padding-top: 70px
        min-width: 0

        @media screen and ( max-width: 1400px )
            justify-content: center
            margin-left: 35px

        @media screen and ( max-width: 770px )
            margin-left: 0
            justify-content: start

    &__card
        @include gradient-border(1px, 20px, linear-gradient(139.69deg, #05030E 3.61%, #7EE8A0 114.72%))
        padding: 56px 80px 80px 40px
        display: flex
        flex-direction: row

        &:hover
            margin-top: -20px
            margin-bottom: 20px
            box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2)

            &::before
                background-image: linear-gradient(139.33deg, #BBC423 -14.59%, #E99A3D 99.86%)

    &__swiper-slide.swiper-slide-active

        @media screen and ( max-width: 770px )
            box-shadow: 0px 34px 74px 0px #A2DC8933
            margin-top: -30px
            transition: 0.5s

    &__card-circle
        width: $kibotron__card-circle-parent--width
        height: $kibotron__card-circle-parent--width
        margin-left: calc((#{($kibotron__card-circle-child--width - $kibotron__card-circle-parent--width)} / 2))
        margin-top: calc((#{($kibotron__card-circle-child--width - $kibotron__card-circle-parent--width)} / 2))
        flex-shrink: 0
        position: relative
        border-radius: 50%
        background-color: #9FD87E

        @media screen and ( max-width: 400px )
            display: none

    &__card-circle--first
        background-color: $green

    &__card-circle--second
        background-color: #1B8D9F

    &__card-circle--third
        background-color: #00FFAA

    &__card-circle--fourth
        background-color: #8AF9AD

    &__card-circle--inner
        width: $kibotron__card-circle-child--width
        height: $kibotron__card-circle-child--width
        position: absolute
        top: calc((#{-($kibotron__card-circle-child--width - $kibotron__card-circle-parent--width)} / 2))
        left: calc((#{-($kibotron__card-circle-child--width - $kibotron__card-circle-parent--width)} / 2))
        border-radius: 50%
        background-color: inherit
        opacity: 0.25

    &__card-text
        margin-left: 30px

    &__card-text-title
        @include gradient-text(linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%))
        text-transform: uppercase
        font-size: 14px
        font-weight: 700
        line-height: 20px

    &__card-text-subtitle
        margin-top: 27px
        font-size: 12px
        line-height: 20px
        color: $white

    &__cards-btn--next
        display: none
        top: 110%
        left: 22%

        @media screen and ( max-width: 770px )
            display: block

        @media screen and ( max-width: 690px )
            top: 100%
            left: 30%

        @media screen and ( max-width: 550px )
            left: 50%
            transform: translateX(-50%)

    &__cards-btn--next::after
        content: ''
        align-items: center

    &__about
        margin-top: 100px
        display: flex
        flex-direction: column
        align-items: center

    &__about-text
        max-width: 800px
        font-size: 24px
        font-weight: 700
        line-height: 29px
        text-align: center
        color: $white

    &__about-link
        @include gradient-border(1px, 17px, linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%))
        margin-top: 50px
        display: flex
        justify-content: center
        align-items: center
        outline: none
        cursor: pointer
        border-radius: 17px
        background-image: linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%)
        color: $bg
        transition: 0.3s

        &:hover
            background: $bg
            color: $white
            box-shadow: 0px 0px 64px rgba(138, 249, 173, 0.3)

    &__about-link > a
        padding: 20px 90px
        display: block
        color: $white
// ================== /kibotron section ==================//
