.list-active // Для нажатия на списки
	display: block !important
	opacity: 1 !important

.blur-circle
	position: absolute
	width: 848px
	height: 848px
	left: -229px
	top: -285px
	border-radius: 50%
	background: #0F3123
	filter: blur(430px)
	z-index: 0

.main-img
	position: absolute
	top: 0
	width: 100%
	z-index: -1
	display: flex
	justify-content: flex-end

.card-body
	display: flex
	flex-direction: column
	border-radius: 20px
	background-color: $bg
	transition: 0.3s